.bottom {
    margin-bottom:60px;
}

.color {
    color:white;
    font-size:50px;
       
}
.left {
    margin-right:100px;
}

.top {
    margin-bottom:5000px;
}
.align {
    text-align:left;
}
.top {
    margin-top:100px;
}
